node_modules/
.env
.env.*
!.env.example
.env.local
dist/
.next/
*.log
coverage/
cache/
artifacts/
typechain-types/
uploads/
logs/
temp/
deployment.json

# Ignore all markdown files except README.md and setup.md
*.md
!**/README.md
!setup.md
